<div class="section">
  <h3>Standard</h3>
  <div class="g-01">
    <ui-prop class="flex-1" name="Name">
      <ui-input class="flex-1 tiny" value="Hello World"></ui-input>
    </ui-prop>
    <ui-prop class="flex-1" name="Custom Size">
      <ui-checkbox class="flex-1"></ui-checkbox>
    </ui-prop>
    <ui-prop class="flex-1" name="Size">
      <ui-num-input class="flex-1 tiny" value="20"></ui-num-input>
    </ui-prop>
    <ui-prop class="flex-1" name="Speed">
      <ui-slider class="flex-1" value="2" min="0.1" max="5"></ui-slider>
    </ui-prop>
    <ui-prop class="flex-1" name="Type">
      <ui-select class="flex-1 tiny">
        <option value="1">Wrap</option>
        <option value="2">Repeat</option>
        <option value="3">Auto</option>
      </ui-select>
    </ui-prop>
    <ui-prop class="flex-1" name="Color">
      <ui-color class="flex-1" value="#09f"></ui-color>
    </ui-prop>
    <ui-prop class="flex-1" name="Clear">
      <ui-checkbox class="tiny" style="margin-right: 40px;">Color</ui-checkbox>
      <ui-checkbox class="tiny">Depth</ui-checkbox>
    </ui-prop>
    <ui-prop class="flex-1" name="Build">
      <ui-button class="tiny green">Start</ui-button>
    </ui-prop>

    <ui-prop class="flex-1" name="Animation Object">
    </ui-prop>
    <ui-prop class="flex-1" name="Name" indent="1">
      <ui-input class="tiny flex-1" value="Foobar"></ui-input>
    </ui-prop>
    <ui-prop class="flex-1" name="Length" indent="1">
      <ui-num-input class="tiny flex-1" value="20.3"></ui-num-input>
    </ui-prop>
    <ui-prop class="flex-1" name="Auto" indent="1">
      <ui-checkbox class="tiny flex-1" checked></ui-checkbox>
    </ui-prop>
    <ui-prop class="flex-1" name="Advanced" indent="1">
    </ui-prop>
    <ui-prop class="flex-1" name="Move Speed" indent="2">
      <ui-slider class="tiny flex-1"></ui-slider>
    </ui-prop>
    <ui-prop class="flex-1" name="Rotate Speed" indent="2">
      <ui-slider class="tiny flex-1"></ui-slider>
    </ui-prop>
  </div>

  <span class="event">event: none</span>
</div>
