<div class="section">
  <h3>Standard slider</h3>
  <div class="group g-01">
    <ui-slider value="0.5"></ui-slider>
  </div>

  <div class="group g-02">
    <ui-slider value="0.5" disabled></ui-slider>
  </div>

  <span class="event">event: none</span>
</div>

<div class="section">
  <h3>State</h3>
  <div style="position: relative;">
    <div class="group">
      <ui-slider style="width: 200px;" value="0.5" focused></ui-slider>
      <span class="label">Focused</span>
    </div>
    <div class="group">
      <ui-slider style="width: 200px;" value="0.5" disabled></ui-slider>
      <span class="label">Disabled</span>
    </div>
    <div class="fit"></div>
  </div>
</div>
